
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(246deg, #4bf1ac, #143d2c);

    position: relative;
}


.container {

    /* Posição da calculadora na página*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    
    /* Tamanho da calculadora na página */
    width: 300px;
    height: 450px;

    
    /* Estilizando bordas da calculadora */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
    border-radius: 5px;


    /* Definindo o grid no container*/
    display: grid;

    /*Definindo que são 4 colunas ocupando 1 fração do espaço total do container, ou seja 1/4 */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 1fr 1fr 1fr 1fr 1fr;
    border: none;
}


/* Estilizando texto da calculadora */
.container div, input {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    border: none;
}

.numeros:hover {
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}






/* Estilizando o botão dos operadores*/
.operador {
    background-color: #4fb98b;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilizando o botão dos números e demais botões*/
.numeros {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Os códigos abaixo se referem a organização dos botões presentes na calculadora por meio do (display-grid)*/

#print {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #303030;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    padding-right: 10px;
    padding-bottom: 12px;

    font-size: 28px;
}


.deletar {
    display: flex;
    justify-content: center;
    align-items: center;
}


#ac {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(0, 0, 0);
}


#del {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: black;
}


#div {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}


#mult {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
}


#mais {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 5;
}


#menos {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 5;
    grid-row-end: 6;
}


#igual {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 6;
    grid-row-end: 7;

    border-bottom-right-radius: 5px;
}


#ponto {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 5px;
}




